<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngenious.ibrahim.liny">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".profile.fragment.gallery.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="60db0e0bb688dafbddd87f7a5bb341b1c052ba0a" />

        <activity android:name=".getstarted.GetStartedActivity">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activity.authentication.LoginActivity" />
        <activity android:name=".activity.authentication.SignupActivity" />
        <activity android:name=".getstarted.SplashActivity" />
        <activity android:name=".getstarted.IntroActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".profile.SimpleProfileActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity android:name=".activity.destination.DestinationActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ngenious.ibrahim.liny"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.friends.FriendsListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>